{% extends "adminpanel/dashboard.html" %}
{% block content %}
<style>
    .container-indi {
      margin-left: 262px;
      display: flex;
      justify-content: space-between;
      background-color: #ffff;
      padding: 10px;
      margin-top: 10px;
    margin-right: 10px;
    }

    .indi-first {
      display: flex;
      flex-direction: column;
    }

    .journey-checkpoints {
      width: 50%; /* Adjust the width as needed */
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .status-true {
    color: #28a745;
    font-size: 24px;
    font-weight: bold;
  }

  .status-false {
    color: #dc3545;
    font-size: 24px;
    font-weight: bold;
  }

  .map-container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 83%;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  </style>

<div class="container-indi">
    <div class="indi-first">
      <div>
        <h2>Ship No : {{ ship.ship_no }}</h2>
        <h2>Buyer : {{ ship.buyer.name }}</h2>
        <h2>Coal Type: {{ ship.coal_type }}</h2>
        <h2>Capacity: {{ ship.capacity }} MT</h2>
        <h2>Start Date: {{ ship.start_date }}</h2>
        {% if ship.complete %}
        <h2>Ship Status: Completed</h2>
        {% else %}
        <h2>Ship Status: Not Completed</h2>
        {% endif %}
      </div>
    </div>
    <div class="journey-checkpoints">
        <h2>Journey Checkpoints</h2>
        <table>
          <thead>
            <tr>
              <th>Location</th>
              <th>Checkpoint Status</th>
            </tr>
          </thead>
          <tbody>
            {% for checkpoint in checkpoints %}
            <tr>
              <td>{{ checkpoint.checkpoint.location }}</td>
              <td>
                {% if checkpoint.checkpoint_reached %}
                  <span class="status-true">✓</span> 
                {% else %}
                  <span class="status-false">✗</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<style>
  .map {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 20px;
    height: 400px;
  }
</style>

<div class="map-container">
    <div id="map" style="height: 600px; width: 100%; "></div>
  </div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  var map = L.map('map').setView([0, 0], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var marker = L.marker([0, 0]).addTo(map);

  function updateLocation(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;

    marker.setLatLng([lat, lon]);

    map.setView([lat, lon]);
  }

  function locationError(err) {
    console.warn(`ERROR(${err.code}): ${err.message}`);
  }

  if ('geolocation' in navigator) {
    navigator.geolocation.watchPosition(updateLocation, locationError, { enableHighAccuracy: true });
  } else {
    console.log('Geolocation is not available in this browser.');
  }

  // Update location every 5 seconds
  setInterval(function () {
    if ('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(updateLocation, locationError, { enableHighAccuracy: true });
    }
  }, 5000);
</script>

{% endblock %}
