{% extends "adminpanel/dashboard.html" %}
{% block content %}
<style>
    .container-indi {
      margin-left: 262px;
      display: flex;
      justify-content: space-between;
      background-color: #ffff;
      padding: 10px;
      margin-top: 10px;
    margin-right: 10px;
    }

    .indi-first {
      display: flex;
      flex-direction: column;
    }

    .journey-checkpoints {
      width: 50%; /* Adjust the width as needed */
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .status-true {
    color: #28a745;
    font-size: 24px;
    font-weight: bold;
  }

  .status-false {
    color: #dc3545;
    font-size: 24px;
    font-weight: bold;
  }

  .map-container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 83%;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  </style>

<div class="container-indi">
    <div class="indi-first">
      <div>
        <h2>Driver : {{ truck.driver.name }}</h2>
        <h2>Buyer : {{ truck.buyer.name }}</h2>
        <h2>Coal Type: {{ truck.coal_type }}</h2>
        <h2>Capacity: {{ truck.capacity }} MT</h2>
        <h2>Start Date: {{ truck.start_date }}</h2>
        {% if truck.complete %}
        <h2>Truck Status: Completed</h2>
        {% else %}
        <h2>Truck Status: Not Completed</h2>
        {% endif %}
      </div>
    </div>
    <div class="journey-checkpoints">
        <h2>Journey Checkpoints</h2>
        <table>
          <thead>
            <tr>
              <th>Location</th>
              <th>Checkpoint Status</th>
            </tr>
          </thead>
          <tbody>
            {% for checkpoint in checkpoints %}
            <tr>
              <td>{{ checkpoint.checkpoint.location }}</td>
              <td>
                {% if checkpoint.checkpoint_reached %}
                  <span class="status-true">✓</span> 
                {% else %}
                  <span class="status-false">✗</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <h5><div id="distance">Distance: ~ Calculating...</div></h5>
        <h5><div id="time">Time: Calculating...</div></h5>
        <h5><div id="fuelPrice">Fuel Price: ~ Calculating...</div></h5>
      </div>
    </div>
  </div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>
<body>


<div class="map-container">
    <div id="map" style="height: 600px; width: 100%; "></div>
  </div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 


<script>
    var curr_lat = 23.4003;
    var curr_long = 85.3218;
    var startPoint = L.latLng(curr_lat, curr_long);
    var dest_lat = `{{ truck.buyer.latitude }}`;
    var dest_long = `{{ truck.buyer.longitude }}`;
    var endPoint = L.latLng(dest_lat, dest_long);

    var map = L.map('map').setView([20.5937, 78.9629], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var startIcon = L.divIcon({ className: 'start-icon', iconSize: [20, 20], html: '🟢' });
    var endIcon = L.divIcon({ className: 'end-icon', iconSize: [20, 20], html: '🔴' }); 

    L.marker(startPoint, { icon: startIcon }).addTo(map);
    L.marker(endPoint, { icon: endIcon }).addTo(map);

    var apiKey = '5b3ce3597851110001cf6248b5ef2d6d9fd845829710f7d27e8c93b7';
    var url = `https://api.openrouteservice.org/v2/directions/driving-car?api_key=${apiKey}&start=${startPoint.lng},${startPoint.lat}&end=${endPoint.lng},${endPoint.lat}`;

    axios.get(url)
        .then(function (response) {
            var routeCoordinates = response.data.features[0].geometry.coordinates;
            var routeDistance = 0;
            var routeDuration = 0;

            response.data.features[0].properties.segments.forEach(function (segment) {
                routeDistance += segment.distance;
                routeDuration += segment.duration;
            });

            var distanceInKilometers = routeDistance / 1000;
            var speedMetersPerSecond = routeDistance / routeDuration;
            var timeinHours = routeDuration / 3600;

            var fuelCostPerLiter = 100;
            var mileage = 30;
            var totalFuelPrice = (distanceInKilometers / mileage) * fuelCostPerLiter;

            document.getElementById('distance').textContent = `Distance: ~ ${distanceInKilometers.toFixed(2)} kilometers (Estimated)`;
            document.getElementById('time').textContent = `Time: ${timeinHours.toFixed(2)} Hrs (Estimated without breaks/haults)`;
            document.getElementById('fuelPrice').textContent = `Fuel Price: ~ ₹${totalFuelPrice.toFixed(2)} (Estimated)`;

            var routeGeoJSON = {
                type: 'Feature',
                properties: {},
                geometry: {
                    type: 'LineString',
                    coordinates: routeCoordinates
                }
            };

            L.geoJSON(routeGeoJSON).addTo(map);
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
</script>


<style>
    .start-icon {
        color: green;
        text-align: center;
        font-size: 20px;
    }

    .end-icon {
        color: red;
        text-align: center;
        font-size: 20px;
    }
</style>

{% endblock %}
