<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rakes</h1>
    <h2>Total Production (Current) : {{ totalProduction }}</h2>
    <h2>Train Delevery (Current) : {{ trainCount }}</h2>
    <h2>Amt of Coal (Current for train) : {{ trainCoalCount }}</h2>
    <h2>Number of Rakes Needed (Current - 1Rake = 1000MT) : {{ numberofRakes }}</h2>
    <a href="/rakes/sendMail">Request for Rakes</a>
</body>
</html>