.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
  gap: 1em;
}
.map-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5em 0;
  border: 1px solid grey;
}
.box {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  transition: 0.6s ease;
}

.box:hover {
  color: #ffffff;
  background-color: #fe6601;
  
}
.box a:hover {
  color: #ffffff;
}
.box a {
  color: #333;
  padding: 5em;
  display: flex-start;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
