.container-indi {
  display: flex;
  margin-top: 5em;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  align-items: center;
  gap: 5em;
}
.info-table{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid grey;
  border-radius: .3em;
}

.indi-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.journey-checkpoints {
  padding: 3em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.status-true {
  color: #28a745;
  font-size: 1.5em;
  font-weight: bold;
}

.status-false {
  color: #dc3545;
  font-size: 1.5em;
  font-weight: bold;
}

.map-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
}
#map {
  height: 60vh;
  width: 70vw;
  margin: 0 auto;
  border: 1px solid grey;
}
