  .map-container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 83%;
    margin-left: 250px;
    margin-top: 10px;
  }
  .list-btn{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10%;
    margin-left: 750px;
    margin-top: 12px;
    padding: 8px 30px;
    background-color: #fc8d17;
    border-radius: 8px;
  }
  .list-btn:hover{
    background-color: #ffbd39;
    transition: 0.4s;
  }
  .list-btn a{
    text-decoration: none;
    color: aliceblue;
    padding: 8px 100px;
  }