.container-rakes {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
h6{
  margin-top: 1em;
}
.rakes-box {
  padding: 3em;
  margin: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}
.rakes-box p {
  margin-top: 2em;
}
.rakes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  background-color: #fc8d17;
  border-radius: 8px;
}
.rakes-btn:hover {
  background-color: #ffbd39;
  transition: 0.4s;
}
.rakes-btn a {
  text-decoration: none;
  color: aliceblue;
  padding: 1em 4em;
}
